body {
  box-sizing: border-box;
  padding: 20px;
  font-size: 18px;
}

header,
main,
footer {
  background-color: lightblue;
  color: terracotta;
}

/* GENERALLY CHILD SELECTOR: Select any/all descendants that are */
header div {
  display: flex;
  align-items: centers;

  /* For spacing use, use rems */
  gap: 2rem;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav {
  padding-bottom: 20px;
}

h1 {
  color: rgb(103 94 87);

  /* For font-sizes, use ems. */
  font-size: 3.6em;
  font-weight: 700;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  line-height: 3;
}

nav a {
  border-radius: 12px;
  text-decoration: none;
  color: rgb(96 101 115);
  text-transform: none;
  font-size: 1.5em;
  font-weight: bold;
  background-color: rgb(239 198 161);
  padding: 20px;
  border: 5.5px;
  margin: 35px;
}

li {
  list-style: none;
}

.italic {
  font-style: italic;
}

.center {
  text-align: center;
}

.bg-primary {
  background-color: rgb(226 202 181);
}

/* .flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
} */

main {
  display: flex;
  flex-direction: column;
}

.left,
.right {
  width: 100%;
  padding: 20px;
}

header img,
main img {
  display: block;
  max-width: 100%;
}

h2 {
  font-size: 30px;
}

.pricing {
  width: 100%;
  text-align: center;
}

.infraredphotography {
  padding: 12px 20%;
}

@media screen and (min-width: 500px) {
  main {
    flex-direction: row;
  }
}
